.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
  border-radius: 10px;
  background: #3782da;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button,
.button:active,
.button:focus {
  outline: none;
}

.button:disabled {
  background-color: #666666;
}

.button.done {
  background-color: #31d758;
}

.button.done .doneIcon {
  font-size: 1.8rem;
}

.button:hover {
  background-color: #4590e6;
}

.button.done:hover {
  background-color: #2ac94f;
}

/* size */
.button.medium {
  padding: 9px 1.3rem;
}
.button.large {
  padding: 20px 4.1rem;
  font-size: 20px;
}
.button.full {
  width: 100%;
  padding: 20px;
}

.button.transparent {
  color: rgba(148, 148, 160, 1);
  background-color: transparent;
}
