@font-face {
  font-family: 'FuturaPT';
  src: url('./Futura-Book.ttf'), url('./Futura-Book.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('./Futura-Medium.ttf'), url('./Futura-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
